.cardWrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

.cardImgWrapper {
  width: 100%;
  text-align: center; }

.cardImg {
  width: 100%;
  height: auto;
  max-width: 300px; }

.cardTitle {
  text-align: center; }

.cardDescription {
  white-space: pre-wrap; }
